@{
    ViewData["Title"] = "Home Page";
}

    <h1 class="main-title">
            <span style='color: blue'>W</span>
            <span style='color: red'>I</span>
            <span style='color: yellow'>S</span>
            <span style='color: blue'>H</span>
            <span style='color: black'>-</span>
            <span style='color: green'>L</span>
            <span style='color: red'>I</span>
            <span style='color: red'>S</span>
            <span style='color: yellow'>T</span>
    </h1>

    <div class="main-desc-div">
        <p class="main-desc">
             The wish list is just a simple service to provide a quick way to purchase items
             on their list or from others all item searches are based on real time api market searches.
             <br>
        </p> 
        <p class="main-footer">Please login to add or edit your wish list.</p>
    </div>