h1.main-title {
    text-align: center;
}
div.main-desc-div {
    border: 1px solid red;
}
p.main-desc {
    color: blue;
    text-align: justify;
    padding: 1%;
    font-size: large;
    font-weight: bold;
    margin: 20px;
}
p.main-footer {
    text-align: center;
    color: blue;
    font-size: large;
    font-weight: bold;
}